<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026764741396-3eub4hhgt6eqjuakjit8bp7n5h5ho12e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026764741396-3eub4hhgt6eqjuakjit8bp7n5h5ho12e</string>
	<key>API_KEY</key>
	<string>AIzaSyAHM5Ro3sGnjWmUcLivE9b_0L5hzyOkDWc</string>
	<key>GCM_SENDER_ID</key>
	<string>1026764741396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsStudyKitti</string>
	<key>PROJECT_ID</key>
	<string>it-project-kitti-ccc7c</string>
	<key>STORAGE_BUCKET</key>
	<string>it-project-kitti-ccc7c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026764741396:ios:5e2589620ce67e2213c001</string>
</dict>
</plist>